* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: baseline;
  padding: 36px 0px 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav .active,
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav .active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.btn {
  display: inline-block;
  padding: 0px 20px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 99px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
.btn-Sign-Up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

.hero {
  padding: 57px 0 64px;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 40%;
  position: relative;
}
.hero .content-block {
  width: 60%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero .hero-summary {
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: -100px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .item .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9e8;
}
.hero-summary .item .icon2 {
  background-color: #fcefff;
}
.hero-summary .item .icon3 {
  background-color: #ebeaff;
}
.hero-summary .item .infor {
  margin-left: 16px;
}
.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero .content-block {
  padding-left: 230px;
  padding-top: 46px;
}
.hero .heading {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.popular-top .info .desc,
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  padding-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 16.7px; /* 166.667% */
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .desc strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 22.3%; /* 122.727% */
  margin-right: 15px;
}
.hero .desc strong:last-child {
  margin-left: 28px;
}
/* popular top */
.popular .popular-top {
  display: flex;
  padding: 100px 0 55px;
}
.popular-top .info .heading {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.popular-top .controls {
  width: 7%;
  min-width: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .info {
  width: 93%;
}
.popular-top .controls .control-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid;
}
.popular-top .controls .control-btn {
  background-color: #fff;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.popular-top .controls .control-btn:hover {
  background-color: var(--primary-color);
  border-color: #fff;
  cursor: pointer;
  color: #fff;
}

.popular .course-list {
  display: flex;
  gap: 30px;
}
.popular .course-list .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-list .foot .price,
.popular .course-list .head .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course-list .info .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.popular .course-list .info {
  padding: 22px;
}
.course-list .course-item .thumb {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0 0;
  object-fit: cover; /*không bị méo ảnh*/
}
.course-list .head .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75px;
}
.course-list .head .rating,
.course-list .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-list .head .rating {
  width: 48px;
}
.course-list .foot .btn:hover {
  background: #ffb900;
  cursor: pointer;
}
/* feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}
.feedback-item {
  display: flex;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.feedback-item .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback-item .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}
.feedback-item .dots .dot:hover {
  background-color: var(--primary-color);
  cursor: default;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item .content blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54; /* 153.846% */
}
/* features 1*/
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .body .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  object-fit: cover;
  width: 270px;
  height: 405px;
  border-radius: 16px;
}
.features .images img.lower {
  margin-top: 34px;
}
.features .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .content .heading-lv2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.features .content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.features .content a.btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background-color: var(--primary-color);
}
/* features 2*/
.features.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd {
  margin-top: 75px;
}
.features-2nd .content {
  width: 48%;
}
.features-2nd .images img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
/* blog */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}
.blogs .blog-top {
  text-align: center;
}
.blogs .blog-top .heading-lv2 {
  color: #130606;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.blogs .blog-top .desc {
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  width: 448px;
  margin: 16px auto 55px;
}
.blogs .blog-list {
  display: flex;
  gap: 30px;
}
.blogs .blog-item {
  width: 33%;
  border-radius: 16px;
}
.blogs .blog-item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.blogs .blog-item img {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.blogs .blog-item .info {
  padding: 20px 20px 28px;
}
.blog-item .info .date {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}
.blog-item .info .title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}
.blog-item .info .btn {
  margin-top: 12px;
  cursor: pointer;
}
.blog-item .info .btn:hover {
  background-color: var(--primary-color);
}
.blog-item .info .date::before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 4px;
  content: "";
  display: inline-block;
}
.blog-item .info .date::after {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
.blogs .dots {
  margin-top: 66px;
  display: flex;
  gap: 6px;
  justify-content: center;
}
.blogs .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}
.blogs .dots .dot.active {
  background: var(--primary-color);
  cursor: default;
}
/* footer */
.footer {
  background-color: #2e2100;
  padding: 96px 135px 0;
}
.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}
.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  max-width: 267px;
  min-height: 78px;
  margin-top: 18px;
}
.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}
.footer .column .title {
  display: inline-block;
  padding-bottom: 14px;
  padding-right: 48px;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.footer .column:first-child .title {
  padding-right: 0;
  padding-bottom: 0;
  border-bottom: 0;
  color: #fff;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.footer .column:first-child .title strong {
  color: #ffb900;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
}
.footer .column .list a {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  display: inline-block;
  margin-bottom: 12px;
}
.footer .column .list:last-child a {
  margin-bottom: 0;
}
.footer .socials {
  margin-top: 18px;
  max-width: 96px;
  display: flex;
  gap: 18px;
}
.footer .list {
  margin-top: 28px;
}
.footer .column .list strong {
  color: #fff;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}
.footer .column .list a {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}
.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86px; /* 185.714% */
}
